/* RESET
http://meyerweb.com/eric/tools/css/reset/ - v2.0 | 20110126 - License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearboth {
  clear: both;
}
.floatright {
  float: right;
}
/* ----------  END RESET  ---------- */
/* ----------  COLORS  ---------- */
body {
  background: #e5e5e5;
}
.whitesection {
  background: white;
}
/* ----------  FONTS  ---------- */
body,
input,
select,
textarea {
  font-family: 'Lato', sans-serif;
}
.allcaps {
  text-transform: uppercase;
}
/* ----------  POSITIONING  ---------- */
#content-wrapper {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}
#content-wrapper #sidebar {
  float: left;
  min-width: 170px;
  width: 10%;
}
#content-wrapper #sidebar li {
  margin-bottom: 15px;
}
#content-wrapper #sidebar #quinn-logo {
  background: url(images/quinn.png) no-repeat;
  width: 161px;
  height: 82px;
}
#content-wrapper #main-content {
  margin-left: 200px;
}
#content-wrapper #main-content .section-header {
  background: #3498db;
  padding: 30px;
  color: white;
}
#content-wrapper #main-content .section-header.farmtobag {
  background: url(images/farmtobag.png) no-repeat right center #3498db;
}
#content-wrapper #main-content .section-header h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
}
#content-wrapper #main-content .section-header h3 {
  margin-top: 10px;
}
.common-button {
  background: #3498db;
  border-radius: 5px;
  color: white;
  text-align: center;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.short-button {
  background: #3498db;
  border-radius: 5px;
  color: white;
  text-align: center;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 5px 15px;
  float: right;
  font-size: 13px;
}
.short-button:hover {
  background: #34495e;
}
.short-button.add-ingredient {
  margin-top: -10px;
}
.short-button.logout-button {
  float: none;
  background: #bdbdbd;
}
.short-button.logout-button:hover {
  background: gray;
}
.big-button {
  background: #3498db;
  border-radius: 5px;
  color: white;
  text-align: center;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 900;
}
.big-button:hover {
  background: #34495e;
}
.btn-smallgray {
  border: none;
  background: none;
  color: #9e9e9e;
  margin-top: 10px;
  padding: 0 10px 0 0;
  cursor: pointer;
}
.btn-smallgray:hover {
  color: black;
}
#add-batch {
  background: #3498db;
  border-radius: 5px;
  color: white;
  text-align: center;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 900;
  background: #34495e;
  float: right;
}
#add-batch:hover {
  background: #34495e;
}
.section {
  margin: 10px;
  border: 1px solid blue;
}
#login-screen #login-screen-wrapper {
  background: url(images/login.png) no-repeat;
  width: 183px;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 150px;
}
#login-screen #login-screen-wrapper #login-wrapper input[type="text"],
#login-screen #login-screen-wrapper #login-wrapper input[type="password"] {
  font-size: 18px;
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  margin-bottom: 5px;
}
#login-screen #login-screen-wrapper .big-button {
  display: block;
  float: none;
  width: 100%;
}
.featured-pagelink {
  background: url(images/document.png);
  width: 9px;
  height: 11px;
  float: right;
  border: none;
  padding: 0;
  margin-right: 10px;
  opacity: .5;
  cursor: pointer;
}
.featured-pagelink:hover {
  opacity: 1;
}
.whitesection {
  margin-top: 15px;
  padding: 30px;
  background: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.whitesection h3 {
  color: #e67e22;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 900;
}
.whitesection ul {
  margin-top: 10px;
  margin-bottom: 0;
}
.whitesection ul li {
  border-top: 1px solid #e7e7e7;
  padding: 10px 0;
  text-overflow: ellipsis;
}
.whitesection ul li .name-trim {
  width: 550px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
.whitesection ul li .name-gray {
  color: #b7b7b7;
}
.whitesection ul li .edit-link,
.whitesection ul li .remove-batch-supplier,
.whitesection ul li .delete-supplier,
.whitesection ul li .delete-farm {
  float: right;
  margin-left: 15px;
  text-decoration: none;
  color: #aaaaaa;
  background: none;
  border: none;
  padding: none;
  cursor: pointer;
  font-size: 13px;
}
.whitesection ul li .edit-link:hover,
.whitesection ul li .remove-batch-supplier:hover,
.whitesection ul li .delete-supplier:hover,
.whitesection ul li .delete-farm:hover {
  color: black;
}
.whitesection ul li .delete-supplier,
.whitesection ul li .delete-farm {
  margin-top: 10px;
}
.whitesection ul li .delete-supplier:hover,
.whitesection ul li .delete-farm:hover {
  color: red;
}
.whitesection ul li .featured-btn {
  background: #e7e7e7;
  height: 10px;
  width: 10px;
  display: block;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.whitesection ul li .frontpage-featured {
  background: #e7e7e7;
  height: 10px;
  width: 10px;
  display: block;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 8px 0 -20px;
  display: inline-block;
}
.whitesection ul li .frontpage-featured:hover {
  background: #e67e22;
}
.whitesection ul li .frontpage-featured:focus {
  outline: none;
}
.whitesection ul li .frontpage-featured.featured {
  background: #e67e22;
}
.whitesection ul li .featured-supplier {
  background: #e7e7e7;
  height: 10px;
  width: 10px;
  display: block;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  float: right;
}
.whitesection ul li .featured-supplier:hover {
  background: #3498db;
}
.whitesection ul li .featured-supplier:focus {
  outline: none;
}
.whitesection ul li .featured-supplier.featured {
  background: #3498db;
}
.whitesection ul li ul li {
  padding-left: 30px;
}
.whitesection ul li ul li:last-child {
  padding-bottom: 0;
}
.whitesection ul label {
  position: absolute;
  color: #9a9a9a;
}
.whitesection ul select,
.whitesection ul textarea,
.whitesection ul input[type='text'] {
  margin-left: 130px;
  border: 1px solid #e7e7e7;
}
.whitesection ul select:focus,
.whitesection ul textarea:focus,
.whitesection ul input[type='text']:focus {
  outline: none;
  border-color: black;
}
.whitesection ul input[type='text'],
.whitesection ul textarea {
  padding: 5px;
  width: 70%;
  margin-left: 130px;
}
.whitesection ul input[name="city"] {
  width: 280px;
  display: inline;
  text-transform: capitalize;
}
.whitesection ul select[name="state"] {
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
}
.whitesection ul input[type='submit'] {
  background: #3498db;
  border-radius: 5px;
  color: white;
  text-align: center;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 900;
}
.whitesection ul input[type='submit']:hover {
  background: #34495e;
}
.whitesection ul .select_farm li {
  padding-left: 30px;
}
.whitesection ul .location {
  margin-bottom: 5px;
}
.whitesection ul .location-template {
  display: none;
}
.whitesection ul .location-tally {
  display: none;
}
.whitesection .blue-ui {
  padding: 1px 0 0 0;
  width: 20px;
  height: 19px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  background: #c1c1c1;
  color: white;
  margin: 1px;
  cursor: pointer;
  text-decoration: none;
}
.whitesection .blue-ui:hover {
  background: #3498db;
}
.supplier-select {
  background: #f1f1f1;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}
.supplier-select .supplier-list {
  margin: 7px 0 0 15px;
  padding: 0;
}
.supplier-select .batch-add-supplier {
  margin-right: 15px;
}
#select_flavor {
  float: right;
}
#id_range {
  float: right;
  width: 300px;
  padding: 5px;
  font-size: 18px;
  margin-top: -10px;
}
/*---------- flavors.php ----------*/
#flavor-list {
  padding-top: 10px;
}
#flavor-list li .edit-flavor-name {
  float: right;
  margin-top: -1px;
}
/* --------- batches.php --------- */
#batch-list li {
  border-top: none;
}
#batch-list li .batchnumber {
  font-size: 40px;
  font-weight: 900;
  border-left: 20px solid transparent;
  margin-left: -50px;
  padding-left: 30px;
  width: 200px;
}
#batch-list li .batchnumber#featured-batch {
  color: #e67e22;
  border-left: 20px solid #e67e22;
}
#batch-list li .batchnumber:hover {
  cursor: pointer;
  color: gray;
  border-left: 20px solid gray;
}
#batch-list li .id_range {
  float: right;
  margin-right: 10px;
}
#batch-list li .id_range input {
  border-radius: 5px;
  padding: 3px 5px;
  background: none;
  border: 1px solid #e7e7e7;
  background: transparent;
  border: none;
  font-size: 13px;
  width: 450px;
  text-align: right;
}
#batch-list li .id_range input:focus {
  outline: none;
  background: #e7e7e7;
}
#batch-list li .batch_parts {
  border-bottom: 1px solid #e7e7e7;
}
#batch-list li .batch_parts li {
  padding-left: 0;
  border-top: 1px solid #e7e7e7;
}
#add_summary h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
#add_summary ul {
  margin-bottom: 30px;
  border-bottom: 1px solid #e7e7e7;
}
#add_summary ul li {
  font-size: 12px;
}
#add_summary ul li strong {
  font-weight: bold;
  color: #bfbfbf;
}
#add_summary ul li:nth-child(odd) {
  background-color: #ffffe6;
}
#add_summary .big-button {
  margin-left: 15px;
}
