/* color */
/* mixins */
.centered {
  width: 1018px;
  margin: 0 auto;
}
/* sizes */
body {
  /*
	@media screen and ( max-width: @maxwidth ) {
		width: @maxwidth;
		overflow: scroll;
	}
*/

}
body #wrapper,
body #footer-contentwrap,
#header-desktop #header-centering {
  width: 1018px;
  margin: 0 auto;
}
@font-face {
  font-family: 'din_engschrift_stdregular';
  src: url('fonts/din/dinengschriftstd-webfont.eot');
  src: url('fonts/din/dinengschriftstd-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/din/dinengschriftstd-webfont.woff') format('woff'), url('fonts/din/dinengschriftstd-webfont.ttf') format('truetype'), url('fonts/din/dinengschriftstd-webfont.svg#din_engschrift_stdregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body,
#tab-nav h3,
#home-wrapper #home-rightcol form input {
  font-family: 'din_engschrift_stdregular', sans-serif;
}
#checkanotherbatch,
.featured-supplier p,
.layers-deep-tooltip ol li {
  font-family: 'Lucida Sans', sans-serif;
}
.errormessage {
  font-size: 20px;
  color: #c5c5c5;
  margin-top: 30px;
  display: block;
  text-align: center;
}
/* home page */
body #wrapper {
  width: 100%;
  min-width: 1100px;
  overflow-x: hidden;
}
#home-wrapper {
  margin-top: 20px;
}
@media screen and (max-width: 479px) {
  #home-wrapper {
    margin-top: 80px;
  }
}
@media screen and (max-width: 1100px) {
  #home-wrapper {
    position: relative;
  }
  #home-wrapper .yellowbar {
    margin-left: -41px;
  }
}
#home-wrapper .yellowbar {
  margin-top: 268px;
  height: 78px;
  background: #fbf0c9;
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 58px;
}
#home-wrapper #home-leftcol {
  width: 540px;
  float: left;
}
#home-wrapper #home-leftcol #bigbag {
  background: url(images/bag.jpg) no-repeat;
  background: url(images/farm-to-bag.png) no-repeat;
  width: 527px;
  height: 871px;
  position: absolute;
  margin-bottom: 40px;
}
#home-wrapper #home-rightcol {
  margin-left: 540px;
  float: left;
  clear: both;
}
#home-wrapper #home-rightcol #biglogo {
  background: url(images/logo-big.png);
  height: 244px;
  width: 337px;
  display: block;
  margin-top: -20px;
  display: none;
}
#home-wrapper #home-rightcol form {
  height: 96px;
  box-sizing: border-box;
  background: #f3cc4b;
  padding: 22px 0 22px 20px;
  margin-top: 48px;
  margin-left: 56px;
  position: relative;
}
#home-wrapper #home-rightcol form input,
#home-wrapper #home-rightcol form #link-currentbatch {
  border: 1px solid black;
  padding: 10px;
  font-size: 25px;
  background: white;
}
#home-wrapper #home-rightcol form input[type=text],
#home-wrapper #home-rightcol form #link-currentbatch[type=text] {
  width: 150px;
}
#home-wrapper #home-rightcol form input[type=submit],
#home-wrapper #home-rightcol form #link-currentbatch[type=submit] {
  padding: 10px 20px;
  margin-left: -5px;
  cursor: pointer;
}
#home-wrapper #home-rightcol form input[type=submit]:hover,
#home-wrapper #home-rightcol form #link-currentbatch[type=submit]:hover {
  background: yellow;
}
#home-wrapper #home-rightcol form #type-or {
  font-size: 20px;
  margin: 0 10px;
}
#home-wrapper #home-rightcol form #link-currentbatch {
  text-decoration: none;
  color: black;
}
#home-wrapper #home-rightcol form #link-currentbatch:hover {
  background: yellow;
}
#home-wrapper #home-rightcol form:before {
  content: '';
  width: 2000px;
  margin-right: -2000px;
  background: #f3cc4b;
  height: 96px;
  position: relative;
  float: right;
  margin-top: -22px;
}
#home-wrapper #home-rightcol form:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 48px solid transparent;
  border-bottom: 48px solid transparent;
  border-right: 68px solid #f3cc4b;
  position: absolute;
  top: 0;
  left: -68px;
}
#home-wrapper #home-rightcol #tracktor-image {
  padding-top: 34px;
  width: 288px;
  margin: 0 auto;
  display: block;
  position: relative;
}
#home-wrapper #home-rightcol #introduction {
  margin-top: 16px;
  position: relative;
  z-index: 100;
}
#home-wrapper #home-rightcol #introduction p {
  padding-bottom: 15px;
}
#home-wrapper #home-rightcol #introduction #frontpage-featured ul li {
  float: left;
  margin-right: 10px;
  padding: 15px 0;
}
#home-wrapper #home-rightcol #introduction #frontpage-featured ul li a {
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  display: block;
}
#home-wrapper #home-rightcol #introduction #frontpage-featured ul li a img {
  height: 100px;
  width: auto;
}
.supplier-images li {
  display: inline;
  margin-right: 10px;
  padding: 15px 0;
}
.supplier-images li img {
  height: 100px;
  width: auto;
}
/* view page */
#view-header-wrapper {
  background: #ebebeb;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
#view-header-wrapper #view-header {
  margin: 0 auto;
  text-align: center;
  padding: 120px 0 80px 0;
  padding: 80px 0 10px 0;
}
#view-header-wrapper #view-header h1 {
  /* 			background: url(images/logo-small.png) 0 10px no-repeat; */

  font-size: 72px;
  display: inline-block;
}
#view-header-wrapper #view-header h1 span {
  color: #00b5db;
}
#view-header-wrapper #view-header #checkanotherbatch_wrapper {
  display: none;
  width: 100%;
}
#view-header-wrapper #view-header #checkanotherbatch_wrapper #checkanotherbatch {
  border-top: double 4px #b8b8b8;
  width: 450px;
  width: 300px;
  margin: 0 auto;
}
#view-header-wrapper #view-header #checkanotherbatch_wrapper #checkanotherbatch a {
  font-size: 12px;
  background: #ebebeb;
  padding: 0 20px;
  margin: -10px 0 0 -90px;
  position: absolute;
  text-decoration: none;
}
#layersdeep-info {
  display: none;
}
.layers-deep-tooltip {
  display: inline-block;
  background: white;
  border: 1px solid black;
  padding: 40px;
  width: 300px;
}
.layers-deep-tooltip p,
.layers-deep-tooltip ol li {
  font-size: 12px;
}
.layers-deep-tooltip ol li {
  padding: 10px 0;
}
#main-content {
  width: 1018px;
  margin: 0 auto;
}
#main-content #tab-wrapper {
  margin-top: 260px;
  margin-top: 230px;
  margin-top: 120px;
}
#main-content #tab-wrapper #tab-nav {
  background: #ebebeb;
  border-bottom: 1px solid #d2d2d2;
  width: 100%;
  left: 0;
  position: absolute;
  height: 57px;
}
#main-content #tab-wrapper #tab-nav ul {
  display: table;
  margin: 0 auto;
  padding-top: 10px;
}
#main-content #tab-wrapper #tab-nav ul li {
  float: left;
  margin: 0 20px;
  border-bottom: 2px solid #00b5db;
}
#main-content #tab-wrapper #tab-nav ul li h3 {
  text-transform: uppercase;
  font-size: 19px;
  padding: 10px 20px;
}
#main-content #tab-wrapper #tab-nav ul li h3 a {
  text-decoration: none;
  cursor: pointer;
}
#main-content #tab-wrapper #tab-nav ul li.ui-tabs-active {
  background: white;
  border-top: 2px solid #00b5db;
  border-bottom: none;
}
#main-content #tab-wrapper #tab-nav ul li.ui-tabs-active h3 a {
  color: #00b5db;
}
#main-content #tab-wrapper .tab {
  padding-top: 80px;
  padding-bottom: 100px;
}
#main-content #tab-wrapper .tab .location-divide {
  color: #c7c7c7;
  margin: 0 5px;
}
#main-content #tab-wrapper .tab#tab-featured #featured-map {
  float: left;
  padding-top: 30px;
}
#main-content #tab-wrapper .tab#tab-featured #featured-suppliers-wrap {
  margin-left: 350px;
}
#main-content #tab-wrapper .tab#tab-featured #featured-suppliers-wrap .featured-supplier {
  margin-top: 10px;
}
#main-content #tab-wrapper .tab#tab-featured #featured-suppliers-wrap .featured-supplier h3 {
  text-transform: uppercase;
  margin-top: 30px;
  border-top: 1px solid #b8b8b8;
  padding: 20px 0 10px 0;
}
#main-content #tab-wrapper .tab#tab-featured #featured-suppliers-wrap .featured-supplier p a {
  text-decoration: none;
  color: #00b5db;
}
#main-content #tab-wrapper .tab#tab-featured #featured-suppliers-wrap .featured-supplier p a:hover {
  text-decoration: underline;
}
#main-content #tab-wrapper .tab#tab-featured #featured-suppliers-wrap .supplier-images {
  margin-top: 10px;
}
#main-content #tab-wrapper .tab .supplier-type {
  text-transform: uppercase;
  font-size: 30px;
  border-bottom: 1px solid black;
  margin-top: 40px;
}
#main-content #tab-wrapper .tab .supplier .supplier-supply {
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  background: url(images/supplier-bullet.png) 0 8px no-repeat;
  overflow: hidden;
  padding: 3px 0 3px 30px;
}
#main-content #tab-wrapper .tab .supplier .supplier-supply:hover {
  cursor: pointer;
  color: #00b5db;
  background-position: 0 -20px;
}
#main-content #tab-wrapper .tab .supplier .supplier-supply.ui-accordion-header-active {
  background: url(images/supplier-bullet.png) 0 -49px no-repeat;
}
#main-content #tab-wrapper .tab .supplier .supplier-supply.ui-accordion-header-active:hover {
  background: url(images/supplier-bullet.png) 0 -77px no-repeat;
}
#main-content #tab-wrapper .tab .supplier .label {
  color: #00b5db;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}
#main-content #tab-wrapper .tab .supplier .stately {
  float: right;
}
#main-content #tab-wrapper .tab .supplier .supplier-layers-deep {
  color: white;
  background: #00b5db;
  font-size: 15px;
  padding: 2px 10px;
  border-radius: 50px;
  display: inline-block;
}
#main-content #tab-wrapper .tab .supplier .layers-deep-label {
  margin-left: 10px;
  display: inline-block;
}
#main-content #tab-wrapper .tab .supplier .farm-list li {
  margin-top: 5px;
}
#main-content #tab-wrapper .tab .supplier .accordion-container {
  padding: 20px 0 30px 30px;
}
@media (min-width: 0) and (max-width: 1100px) {
  #view-header-wrapper #view-header {
    padding: 80px 0;
  }
  #main-content #tab-wrapper {
    margin-top: 200px;
  }
}
@media (max-width: 480px) {
  body .header-wrapper#header-mobile {
    position: fixed;
  }
}
