/*--------------------------------------------------------------
/*  PAGE - DEFAULT/STANDARD
-------------------------------------------------------------- */
#page-template-content {
  margin-bottom: 100px;
}
#page-template-content h2 {
  color: white;
  position: relative;
  z-index: 100;
  margin: -20px 0 20px 0;
}
#page-template-content .fullscreenwidth_js {
  display: block;
  height: 500px;
  width: 100%;
  left: 0;
  position: absolute;
  z-index: 50;
  background-position: center bottom;
  margin: 30px 0 30px 0;
}
#page-template-content .fullscreenwidth-first {
  margin-top: 0px;
  top: 0;
}
