/*--------------------------------------------------------------
/*  RESPONSIVE
-------------------------------------------------------------- */
@media (min-width: 0) and (max-width: 480px) {
  /* MOBILE NAVIGATION */
  /* don't forget to manually reinsert clip rules at 2098 (.reinvented-section) when you're done.
  */
  .fp-reimagine-header h1 {
    font-size: 30px !important;
  }
  .fp-reimagine-header {
    height: 400px !important;
  }
  .fp-reimagine-header .section-inner-overlay {
    height: 400px;
  }
  .header-wrapper#header-desktop {
    display: none;
  }
  .header-wrapper#header-mobile {
    display: block;
  }
  #mobile-header-padding {
    display: block;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* END MOBILE NAVIGATION */
  .fp-reimagine-header h1 {
    font-size: 50px !important;
  }
  .fp-reimagine-header {
    height: 500px !important;
  }
  .fp-reimagine-header .section-inner-overlay {
    height: 500px;
  }
  #product-scroll-titles {
    background-attachment: inherit !important;
  }
  #reinvented-scroll .reinvented-section .section-content {
    width: 80%;
    position: absolute;
    clip: none;
  }
  #reinvented-scroll .reinvented-section .section-content p {
    font-size: 35px;
  }
  #reinvented-scroll-shim {
    height: 9999px;
  }
}
